<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        目前，scope属性有两个值
            1.singleton 单例（默认情况下就是单例）
            2.prototype 原型/多例
        scope属性有多个值：
            例如，request,session，他们需要项目必须是一个web应用
            request:一次请求当中一个bean
            session:一次会话中只有一个bean
    -->
    <bean id="springBean" class="bean.SpringBean" scope="threadScope"/>

    <!--自定义scope的作用域-->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="threadScope">
                    <!--使用内置-->
                    <bean class="org.springframework.context.support.SimpleThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>
</beans>