<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        第一步：在spring配置文件头部添加c命名空间，xmlns:c="http://www.springframework.org/schema/c"
        第二步：使用 c:属性名 = "属性值" 或 c:下标 = "属性值"
    -->
    <bean id="peopleBean" class="bean.People" c:name="张三"/>
</beans>